header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

body {
  margin: auto;
  max-width: 1090px;
  color: #27241c;
  font-family: roboto, -apple-system, BlinkMacSystemFont, 'Open Sans',
    'Helvetica Neue', sans-serif;
  background: rgb(238, 174, 202);
  background: linear-gradient(
    90deg,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
}

header {
  padding-top: 5%;
  padding-bottom: 5%;
}

.mainHeading {
  margin-left: -2%;
}

button {
  background-color: #ffc3a5;
  font-size: 14px;
  padding: 15px;
  border: none;
  border-radius: 25px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.scaleChanger {
  margin-left: -10%;
}

.citysearch {
  font-size: 14px;
  padding: 15px;
  padding-left: 15px;
  padding-right: 15px;
  border: none;
  border-radius: 25px;
  margin-right: 15px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

main {
  display: flex;
  justify-content: center;
}

.mainContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.currentWeatherContainer {
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.basic-data {
  align-self: flex-start;
  margin-top: 3%;
  padding: 3%;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.23);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.6px);
  -webkit-backdrop-filter: blur(7.6px);
  border: 1px solid rgba(255, 255, 255, 0.15);
  cursor: default;
}

.additional-data {
  display: flex;
  max-width: 30%;
  flex-wrap: wrap;
}

.additional-data > div {
  width: 120px;
  margin-bottom: 5%;
  padding: 10%;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.082);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.6px);
  -webkit-backdrop-filter: blur(7.6px);
  border: 1px solid rgba(255, 255, 255, 0.048);
  cursor: default;
}

.datapoint {
  display: flex;
  flex-direction: row;
}

.topRow {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#currentTempterature {
  font-size: 44px;
}

#currentDescription {
  text-align: center;
  margin-top: -10px;
  margin-bottom: 15px;
  font-size: 20px;
}

#city,
#country {
  text-align: center;
  font-size: smaller;
}

.forecastContainer {
  display: flex;
  flex-direction: column;
}

.forecastCards {
  display: flex;
  justify-content: space-evenly;
  max-width: 90%;
  margin-left: -5%;
}

.forecastCards > div {
  padding-left: 4%;
  padding-right: 4%;
  padding-top: 2%;
  padding-bottom: 2%;
  margin-left: 1%;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.082);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.6px);
  -webkit-backdrop-filter: blur(7.6px);
  border: 1px solid rgba(255, 255, 255, 0.048);
  cursor: default;
}

.temperature,
.description {
  font-size: small;
}
