header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

body {
  background-color: rgb(132, 224, 238);
}

main {
  display: flex;
  justify-content: center;
}

.mainContainer {
  display: flex;
  justify-content: center;
  width: 100%;
}

.currentWeatherContainer {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
